.progress-bar {
    display: block;
    height: 20px;
    margin: 0;
    background-color: $tertiary-color;
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;

    span {
        display: block;
        width: 0%;
        height: 100%;
        background-color: $secondary-color;
    }
}