.title{
    display: block; margin: 0 0 15px;
    font-weight: 900;

    &.default{
        font-size: 24px;
    }
    &.xlarge{
        font-size: 64px;
    }
    &.large{
        font-size: 32px;
    }
    &.small{
        font-size: 18px;
    }

}